body {
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    gap: 20px;
    margin-right: 150px;
}

.header{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    font-size: 18px;
    font-weight: bolder;
    color: #E5E7Eb;
    overflow: auto;
}

.logotext{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 150px;
}

a:link{
    text-decoration: none;
}
a:visited{
    color:#E5E7Eb
}


.topcontainer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 200px;
}
.maintext{
    display:flex;
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 150px;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 10px;
}
.subtext{
    font-size: 18px;
    color: #E5E7Eb;
    font-weight: 0;
}
.resize{
    width: 400px;
    height: auto;
    margin-top: 150px;
}

.resizestack{
    width: 170px;
    height: 170px;
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: #3882f6;

}

.button{
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.bodycontainer{
    display:flex;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 120px;
}

.imagestack{
    display: flex;
    gap: 40px;
}
.imageinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagetext{
    font-size: medium;
    color: #1f2937;
    flex-wrap: wrap;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quotesection{
    background-color: #e6e7eb;
    padding: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    display: inline-block;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 800px;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    
}
.bottom{
    display: flex;
    padding:100px;
}
.bottomblock{
    display: flex;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 20px;
}
.bottomtext{
    display: flex;
    flex-direction: column;
}
.actiontext{
    font-size: 27px;
    color:white;
    font-weight: 800;
}